/* ---------------------------------------------
					variantes
--------------------------------------------- */
/* ---------------------------------------------
				generales
--------------------------------------------- */
header {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
  padding: 10px 0;
}
header #mediosTop {
  background: #178ed0;
  color: white;
  height: 35px;
  padding-top: 5px;
  margin-top: -10px;
  margin-bottom: 30px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
header #mediosTop p {
  font-size: 18px;
  margin-left: 5px;
  margin-right: 15px;
}
.nav-pills > li > a {
  font-size: 16px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #0c2073;
}
footer {
  border-top: 1px solid #24394f;
  margin-top: 30px;
  color: #24394f;
  padding: 30px 0;
}
/*------------------------------------------
				   Index
------------------------------------------*/
#menu4 {
  margin-top: -5%;
}
.lista {
  background-color: #178ed0;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  margin: 0 2% 2% 2%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
  -webkit-transition: height 2s;
  -moz-transition: height 2s;
  transition: height 2s;
}
.lista h3 {
  margin-top: -20px;
}
.lista p {
  margin-top: -50px;
  margin-left: 30%;
  width: 70%;
}
.iconos4 {
  padding-right: 5%;
  padding-top: 7%;
}
.lista:hover {
  height: 500px;
}
#populares {
  width: 100%;
  background-color: #EBEBEB;
  position: relative;
  font-family: 'Lato', sans-serif;
  color: #0c2073;
}
#populares #encabezado_populares {
  margin: 2% 30%;
}
#populares hr {
  border-color: #0c2073;
  border-width: 2px;
}
#populares #imagenes_productos {
  padding: 0 10% 2% 20%;
}
#populares #imagenes_productos button {
  font-family: 'Lato', sans-serif;
}
#populares #btnProductos {
  padding: 1% 10% 2% 80%;
}
.azul {
  background-color: #178ed0;
}
#clientes #encabezado_clientes {
  margin: 2% 30%;
  color: #0c2073;
}
#clientes hr {
  border-color: #0c2073;
  border-width: 2px;
}
#clientes #imagenes_clientes {
  margin: 0 5% 3% 17%;
}
#clientes .redondear {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 1px black;
}
#clientes #btnClientes {
  padding: 1% 10% 2% 80%;
}
#map-canvas {
  width: 100%;
  height: 500px;
}
/*--------------------------------------------
					Nosotros
--------------------------------------------*/
#imgHeaderNosotros {
  width: 100%;
  height: 270px;
  background-image: url('img/sliderNosotros.jpg');
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}
.tituloS {
  font-size: 5em;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  color: #ffffff;
  padding: 2% 0 2% 2%;
}
.textoNosotros {
  color: #999;
}
.grisOscuro {
  color: #555;
}
#inicios hr {
  border-color: #0c2073;
  border-width: 2px;
}
#inicios h2 {
  color: #0c2073;
}
/*--------------------------------------------
					Procesos
--------------------------------------------*/
#imgHeaderProcesos {
  width: 100%;
  height: 270px;
  background-image: url('img/sliderProceso.jpg');
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}
#procesos hr {
  border-color: #0c2073;
  border-width: 2px;
}
#procesos h2 {
  color: #0c2073;
}
#imgSide {
  padding-bottom: 5%;
}
.accordion h4 {
  color: #ffffff;
  font-style: 'Lato', sans-serif;
  font-weight: 100;
}
.accordion .panel-heading {
  background-color: #0c2073 !important;
}
.accordion .panel-body {
  background-color: #EBEBEB !important;
}
.accordion .imagenPequena {
  width: 5%;
  height: 5%;
  margin: 0 5% 0 0;
}
.accordion .imagenPrueba {
  float: left;
  margin: 10px;
}
/*--------------------------------------------
					Productos
--------------------------------------------*/
#imgHeaderProductos {
  width: 100%;
  height: 270px;
  background-image: url('img/sliderProd.jpg');
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
}
#productos hr {
  border-width: 2px;
  border-color: #000;
}
#productos .listaProductos {
  list-style: none;
  color: ;
}
#productos .side {
  background-color: #F7F7F7;
}
#productos .imgRedon {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #F7F7F7;
  margin: 10px 20px 15px -20px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.35);
}
#productos .listaLetras {
  color: #999;
  font-style: 'Lato', sans-serif;
  font-weight: 100;
  font-size: large;
}
#productos .listaLetras hr {
  border-width: 1px;
  border-color: #999;
  margin-left: -30px;
  margin-right: 10px;
}
#productos #categorias {
  background-color: #178ED0;
  color: #fff;
  margin: 0 0 20px -40px;
  padding: 3% 0 5% 10%;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 10px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#productos #descargar {
  padding: 20px;
  margin-left: -30px;
}
